<<div data-ng-init="getLoggedUser()">
<div style="position: absolute; left: 25px; width: 500px;height:300px;overflow:auto;">
<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Cena</th>
				<th>Garancija</th>
				<th>Rok isporuke</th>
		        <th>Id objave</th>
		        <th>Prihvaceno</th>
            </tr>
			<tr ng-repeat="jelo in liste">
				<td> 
					{{jelo.cena}}
				</td>
				<td> 
					{{jelo.garancija}}
				</td>
				<td>
					{{jelo.rokIsporuke}}
				</td>
				<td>
				    {{jelo.objava_ponude_Id}}
				</td>
				<td>
				     {{jelo.prihvati}}
				</td>
				<td>
			        <button class="btn btn-default"	ng-show="jelo.prihvati=='nije odluceno'"ng-click="izmeniPonudu(jelo)">Modify</button>
				</td>
			</tr>
		</tbody>
    </table> 
    	
    	<form>
			<div ng-hide="sakrij">
				<label>Cena</label><br /> <input name="cena" type="text"
					ng-model="$parent.cena" class="form-control" value={{jelo.cena}} required><br />

				<label>Garancija</label><br /> <input name="garancija" type="text"
					ng-model="$parent.garancija" class="form-control" value={{jelo.garancija}} required></br>
				<br /> Rok isporuke : <input type="date" name="isporuka"
					ng-model="$parent.isporuka" required>

                <button class="btn btn-default"	ng-click="menjanjePonude(jelo)">Send</button>
 
			</div>
		</form>
    