<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}
</style>
<div id="options" ng-init=getLoggedUser()>
	<ul>
		<li><button ng-click="count = 'guestt/guestHome.html'">Profile</button></li>
		<li><button ng-click="count = 'guestt/navBar.html'">Friends</button></li>
		<li><button ng-click="count = 'guestt/navBar.html'">Reservations</button></li>
		<li><button ng-click="count = 'guestt/restorani.html'">Restaurants</button></li>
		<li><button ui-sref="login/logOut">Log out</button></li>
	</ul>
	</br></br>
	<div ng-include=count></div>

</div>