<div data-ng-init="sviKonobari()">
<div style="position: absolute; top: 80px; left: 25px; width: 500px;">
<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Shoes size</th>
				<th>Clothes size</th>
		
            </tr>
			<tr ng-repeat="kon in konobari">
				<td> 
					{{kon.ime}}
				</td>
				<td> 
					{{kon.prezime}}
				</td>
				<td>
					{{kon.velicinaObuce}}
				</td>
				<td>
					{{kon.velicinaOdece}}
				</td>

			</tr>
		</tbody>
    </table> 
    </div>
    
    <div style="position: absolute; top: 80px; left: 750px; width: 200px;">
    <h4>New: </h4>
    	<form ng-model="resttt"">  	
		Firs name:<br> <input type="text" name="name"
			ng-model="$parent.kon.ime" class="form-control" required> <br>
		Last name:<br> <input type="text" class="form-control" name="lastName"
			ng-model="$parent.kon.prezime" required><br>
		Shoes size:<br> <input type="text" class="form-control" name="password"
			ng-model="$parent.kon.velicinaObuce" required>
		Clothes size:<br> <input type="text" class="form-control" name="password"
			ng-model="$parent.kon.velicinaOdece" required>
		Email:<br> <input type="mail" class="form-control" name="password"
			ng-model="$parent.kon.mail" required>
		Password:<br> <input type="text" class="form-control" name="password"
			ng-model="$parent.kon.password" required >
		<br> <br> <input type="submit" value="Submit"
			ng-click="dodajKonobara()"> <a ui-sref="menadzerRestorana.konobari">Cancel</a>

		</form>
    </div>
   </div>