<div ng-init="list('{{loggedUser.id}}')">
	Id: {{restoran.id}}<br></br> Name: {{restoran.naziv}} <br></br>Description:
	{{restoran.opis}} <br></br>Country: {{restoran.drzava}} <br></br>City:
	{{restoran.grad}} <br></br>Street: {{restoran.ulica}} <br></br>
	<button data-ng-click="zaIzmenu(restoran)">Modify</button>
	
	<br><br></br><br>


	<div ng-show="prikazi">
		<form ng-model="resttt"">
			{{resttt.id}}Name:<br> <input type="text" name="name"
				ng-model="resttt.naziv" value={{resttt.naziv}}> <br>
			Description:<br> <input type="text" name="description"
				ng-model="resttt.opis" value={{resttt.opis}}> <br>
			Country:<br> <input type="text" name="country"
				ng-model="resttt.drzava" value={{resttt.drzava}}><br>
			City:<br> <input type="text" name="city" ng-model="resttt.grad"
				value={{resttt.grad}}><br> Street and number:<br>
			<input type="text" name="street" ng-model="resttt.ulica"
				value={{resttt.ulica}}> <br> <br> <input
				type="submit" value="Submit" ng-click="update()"> <a
				ui-sref="menadzerRestorana.restorani">Cancel</a>

		</form>
	</div>

</div>