
<div>
<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Country</th>
				<th>City</th>
				<th>Street</th>
				<th>Reservate</th>
		
            </tr>
			<tr ng-repeat="restoran in restorani">
				<td> 
					{{restoran.id}}
				</td>
				<td> 
					{{restoran.naziv}}
				</td>
				<td>
					{{restoran.opis}}
				</td>
				<td>
					{{restoran.drzava}}
				</td>
				<td>
					{{restoran.grad}}
				</td>
				<td>
					{{restoran.ulica}}
				</td>
				<td>
					<button ng-click="zaRezervaciju(restoran)">Reservate</button>
				</td>
			</tr>
		</tbody>
    </table> 
    <br></br><br></br>

</div>
 <h3>Make a reservation</h3>
 Restaurant : {{resttt.naziv}}<br></br>
 Date : <br></br>
 Time : <br></br>
 Duration :  <br></br>
 <button ng-click="potvrdaRezervacije()">Confirm</button>
<div>

</div>
