<div style="position: absolute; top: 80px; left: 25px; width: 500px;">
	<h3>Food</h3>
	<table class="table table-bordered tableBG" border="1">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Order</th>
			</tr>
			<tr ng-repeat="jelo in resttt.jelovnik">
				<td>{{jelo.naziv}}</td>
				<td>{{jelo.cena}}</td>
				<td>
					<button ng-click="dodajJelo(jelo)">Add to order</button>
				</td>
			</tr>
		</tbody>
	</table>

	<br> <br> <br>
	<h3>Drinks</h3>
	<table class="table table-bordered tableBG" border="1">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Order</th>
			</tr>
			<tr ng-repeat="pice in resttt.kartaPica | orderBy:'text'">
				<td>{{pice.naziv}}</td>
				<td>{{pice.cena}}</td>
				<td>
					<button ng-click="dodajPice(pice)">Add to order</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div style="position: absolute; top: 80px; left: 750px; width: 200px;">
	<table class="table table-bordered tableBG" border="1">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th></th>
			</tr>
			<tr ng-repeat="hrana in porudzbina.hrana | orderBy:'text'">
				<td>{{hrana.naziv}}</td>
				<td>{{hrana.cena}}</td>
				<td><button ng-click="izbrisi(hrana, porudzbina)">X</button></td>
			</tr>
		</tbody>
	</table>

</div>

<div style="position: absolute; top: 80px; left: 950px; width: 200px;">
	<table class="table table-bordered tableBG" border="1">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th></th>
			</tr>
			<tr ng-repeat="pice in porudzbina.pice | orderBy:'text'">
				<td>{{pice.naziv}}</td>
				<td>{{pice.cena}}</td>
				<td><button ng-click="izbrisiPice(pice, porudzbina)">X</button></td>
			</tr>
		</tbody>
	</table>
	<button ng-click="naruci(porudzbina)">Confirm reservation</button>
	</td>
</div>
