<h1>Orders</h1>
<div>
	<table class="table table-bordered tableBG" border="1">
		<tbody>
			<tr ng-repeat="porudzbina in porudzbine">
				<td>{{porudzbina.id}}</td>
				<td><div ng-repeat="h in porudzbina.hrana">
						{{h.naziv}}<br></br>
					</div></td>
				<td><a ng-click="prihvati(porudzbina)"
					class="btn btn-small btn-default"></span>Accept</a></td>
			</tr>
		</tbody>
	</table>
</div>
<h1>Orders in preparation</h1>
<div>
	<table class="table table-bordered tableBG" border="1">
		<tbody>
			<tr ng-repeat="por in porudzbinePriprema">
				<td>{{por.id}}</td>
				<td><div ng-repeat="hr in por.hrana">
						{{hr.naziv}}<br></br>
					</div></td>
				<td><a ng-click="zavrsi(por)" class="btn btn-small btn-default"></span>Finish</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>